:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  


  body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin-bottom: 100px;
  }
  
  #container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(4, 100px);
  }

  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    
  }

  .my-color-class {
    background-colour: blue;
  }

  .grid-item:hover {
    background-color: black;
    transition: ease 0.1s all;
}

